.column {
  width: 1000px;
  height: 310px;
  border: solid green 4px;
  padding: 4px;
  margin: 12px;
}

.photo {
  width: 400px;
  float: right;
}
.important p {
  color: blue;
}
.notimportant p{
  font-weight: bold;
}

@media screen and (max-width: 850px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: yellow;
    color: green;
  }
}
